extends ../layouts/auth

block content
    div(class='text-center')
        h6(class='font-weight-bold') Join smaller-twitter today.
        p Smaller version of Twitter written in Express (Node)
        br
        a(href='/register' class='btn btn-sm btn-primary mr-1' style='width:20%;') Register
        a(href='/login' class='btn btn-sm btn-outline-primary' style='width:20%;') Login