extends layout

block content
    div.card
        div.card-body
            h3.card-title.mb-0 #{post.message}
            hr
            p.text-muted Do you really want to delete this post?
            form(method='POST' action='')
                div.form-group
                    input#postid.form-control(type='hidden',name='postid', required='true', value=post._id )

                button.btn.btn-danger(type='submit') Delete

    br

    a.btn.btn-sm.btn-light.active(href='/posts/' + post.id) Back