extends layout

block content
    h1 #{post.message}

    hr

    p
        a(href=post.url + '/delete') Delete post
    p
        a(href=post.url + '/update') Update post

    a.btn.btn-sm.btn-default(href='/posts') Back