extends layout

block content
    div.card
        div.card-body
            h3.card-title Register
            br
            div.row
                div.col-md-4
                    form(method='POST' action='/register')
                        div.form-group
                            label(for='name') Name:
                            input#name.form-control(type='text', placeholder='Name' name='name' required='true' autocomplete='off' )
                        div.form-group
                            label(for='username') Username:
                            input#username.form-control(type='text', placeholder='Username' name='username' required='true' autocomplete='off' )
                        div.form-group
                            label(for='email') Email:
                            input#email.form-control(type='email', placeholder='Email' name='email' required='true' autocomplete='off' )
                        div.form-group
                            label(for='password') Password:
                            input#password.form-control(type='password', placeholder='Password' name='password' required='true' autocomplete='off' )
                        div.form-group
                            label(for='password2') Password2:
                            input#password2.form-control(type='password', placeholder='Password2' name='password2' required='true' autocomplete='off' )
                        button.btn.btn-primary(type='submit') Submit

                    if errors
                        ul
                            for error in errors
                                li!= error.msg
