extends layouts/layout

block content
    div.card
        div.card-body
            h3.card-title.mb-0 #{user.name}
            span.mr-3 @#{user.username}
            hr
            p.text-muted Do you really want to delete this user?
            form(method='POST' action='')
                div.form-group
                    input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )

                button.btn.btn-danger(type='submit') Delete

    br

    a.btn.btn-sm.btn-link.active(href='/users/' + user.id) Back