extends layout

block content
    div.card
        div.card-body
            h3.card-title=title
            br
            ul.list-group.list-group-flush
                each user in user_list
                    li.list-group-item
                        a.btn.btn-sm.btn-dark.mr-4(href=user.url) View
                        span.mr-3 #{user.name}
                        span @#{user.username}

                else
                    li There are no users.
