body {
  background-color: #f9f9f9;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.list-group-item:first-child {
  border-top: none;
}

.sidebar {
  background-color: #ebf9ff;
  border-radius: 6px;
}